:root {
    font-size: 62.5%;
    --bg-color: rgb(32, 132, 198);
    --bg-color-primary: rgb(255, 255, 255);
    --bg-color-secundary: rgb(126, 204, 152);
}

* {
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: var(--bg-color);
    font-family: 'Roboto', sans-serif;

}

main {
    
    background-color: var(--bg-color-primary);
    max-width: 45rem;
    margin: 3rem auto;
    padding: 1rem;
    border-radius: 10px;
}

main form {
    display: flex;
    flex-direction: column;
}

main header ul {
    padding: 1rem 0;
}

main header ul li {
    list-style-position: inside;
    font-size: 1.5rem;
}

main header h1 {
    padding: 2rem 0;
}

main form label {
    padding: .5rem 0;
    font-weight: 500;
    font-size: 1.5rem;
}

main form input {
    height: 3rem;
}

input[type="submit"] {
    margin-top: 2rem;
}

input[type="submit"]:active{
    background-color: var(--bg-color-secundary);
}

.error-text {
    color: red;
    font-size: 1.5rem;
}

